@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/fonctions";
@import "./base/base";
@import "./composants/btn";
@import "./layout/header";
@import "./layout/footer";
@import "./pages/homepage";
@import "./pages/menus";

@keyframes like {
    0% {
        transform: scale(0);
      }
    100% {
        transform: scale(1);
        opacity: 1;
      }
    
}

@keyframes dislike {
    0% {
        transform: scale(1);
      }
    100% {
        transform: scale(0);
        opacity: 1;
      }
    
}