/* Bouton */ 
button {
    padding: 15px 20px;
    background: linear-gradient(350deg, $color-primary, 60%, $color-secondary);
    color: $white; 
    font-size: $size-txt;
    font-family: $font-txt;
    font-weight: $w-txt;
    border: transparent;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: $shadow-btn;
    width: 100%;
    height: 100%;
    &:hover {
        box-shadow: $shadow-btn-hover;
        animation: bouton 0.3s ease forwards;
    }
}