footer {
    display: flex;
    flex-direction: column;
    background: $color-footer;
    color: $white;
    padding: 25px 0 30px 25px;
    /* Mise en colonne des liens */
    & .nav__footer {
        display: flex;
        flex-direction: column;
    }
    & a {
        color: $white;
        margin-bottom: 7px;
        &:hover {
            font-weight: $w-title; 
        }
    }
    /* Logo footer */ 
    & p {
        margin: 0 0 15px 0;
        font-family: $font-title;
        font-size: $size-logo;
        font-weight: $w-logo;
    }
    & i {
        margin-right: 10px;
    }
    @include tablette-only {
        margin-top: 50px;
        flex-direction: row; /* Mise en ligne des liens */
        justify-content: flex-end; 
        padding: 50px;
        width: 100%;
        & a {
            margin-bottom: 0;
            flex-grow: 1;
        }
        & p {
            margin-left: 10px;
            margin-bottom: 0;
        }
        & i {
            margin-right: 5px;
        }
        /* Positionnement des liens */
        & .logo__footer {
            order: 2;
        }
        /* Positionnement des liens */
        & .nav__footer {
            order: 1;
            flex-direction: row; /* Mise en ligne des liens */
            align-items: center;
            gap: 14px;
            flex-grow: 1;
        }
    }
    @include desktop-only {
        margin-bottom: 0;
        & a {
            flex-grow: 0;
        }
        & p {
            margin: 0 50px 0 50px;
        }
        /* Positionnement des liens */
        & .nav__footer {
            gap: 40px;
            flex-grow: 0;
        }
    }
}