footer {
    color: $white;
    margin-top: 50px;
    padding: 25px 0 30px 25px;
    display: flex;
    flex-direction: column;
    background: $color-footer;
    & .nav__footer {
        display: flex;
        flex-direction: column;
    }
    & a {
        color: $white;
        margin-bottom: 7px;
        &:hover {
            font-weight: $w-title;
        }
    }
    & p {
        margin: 0 0 15px 0;
        font-family: $font-title;
        font-size: $size-logo;
        font-weight: $w-logo;
    }
    & i {
        margin-right: 10px;
    }
    @include desktop-only {
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 80px;
        padding: 50px;
        width: 150%;
        position: relative;
        right: 30%;
        z-index: 3;
        & a {
            margin-bottom: 0;
        }
        & p {
            margin: 0 50px 0 50px;
        }
        & .logo__footer {
            order: 2;
        }
        & .nav__footer {
            order: 1;
            flex-direction: row;
            align-items: center;
            gap: 40px;

        }
    }
}