header {
    background: $white;
}

/* Logo du site */
nav {
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: $font-title;
    font-size: $size-title;
    background: $white;
    & p {
        margin: 15px 0 5px 0;
    }
    & i {
        position: absolute;
        right: 90%;
        color: $color-footer;
    }
    @include desktop-only {
        font-size: $size-nom-desktop;
    }
}

 /* Barre de recherche de la ville */
 .barre {
    display: flex;
    flex-direction: row;
    border-top: 2px solid $color-border;
    background: $color-search ;
    justify-content: center;
    & input {
        background: $color-search ;
        font-family: $font-txt;
        font-weight: $w-txt;
        padding: 0;
        border: none;
        width: 60%;
        height: 50px;
        outline: none;
        text-align: center;
        z-index: 1;
        &::placeholder {
            color: black;
            opacity: 1;  
            font-family: $font-txt;
            font-weight: $w-txt;
        }
    }
    /* Pointeur */
    &__icone{
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        left: 10%;
        z-index: 2;
        @include desktop-only {
            left: 23%;
        }
    }
}


/* Image du restaurant */
.entete {
    & img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        z-index: -1;
        @include tablette-only {
            height: 350px;
        }
        @include desktop-only {
            height: 425px;
        }
    }
}
