header {
    background: $white;
}

nav {
    display: flex;
    place-content: center;
    font-family: $font-title;
    font-size: $size-title;
    background: $white;
    & p {
        margin: 15px 0 5px 0;
    }
    @include desktop-only {
        font-size: $size-nom-desktop;
    }
}

.entete {
    & img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        @include desktop-only {
            height: 425px;
        }
    }
}
