.titre {
    &__btn {
        margin: 25px 75px 50px 75px;
    }
    & button {
        padding: 15px 20px;
        background: linear-gradient(200.64deg, $color-primary -5.2%, $color-secondary 110.74%);
        color: $white; 
        font-family: $font-txt;
        font-weight: $w-txt;
        border: transparent;
        cursor: pointer;
        border-radius: 40px;
        box-shadow: $shadow-btn;
    }
}