* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-size: $font-txt;
    font-family: $font-txt;
    background: $color-bg;
    font-weight: $w-p;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-weight: $w-title;
}

h2 {
    padding: 50px 20px 30px 20px;
    margin: 0;
    font-size: $size-txt;
    font-weight: $w-p;
    @include desktop-only{
        padding: 50px 0 30px 0;
    }
}