* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-size: $font-txt;
    font-family: $font-txt;
    background: $color-bg;
    font-weight: $w-p;
}

.container__menu {
    background: $color-fct;
    width: 100%;
    position: absolute;
    top: 275px;
    z-index: 2;
    border-radius: 50px 50px 0 0;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-weight: $w-title;
}

h2 {
    padding: 50px 20px 30px 20px;
    margin: 0;
}

main {
    & h2 {
        padding: 0;
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
    }
}