@charset "UTF-8";
/* Couleurs */
/* Ombres */
/* Tailles de police */
/* Epaisseur de polices */
/* Polices */
/* Flash du loader */
@keyframes flash {
  0% {
    transform: scale(1);
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  50% {
    transform: scale(1.2);
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  90% {
    color: #9356DC;
    opacity: 0.8;
    text-shadow: none;
  }
  100% {
    transform: scale(1);
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
}
/* Disparition du loader sur homepage */
@keyframes hide {
  0%, 80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: 3;
  }
}
/* Bouton légèrement plus claire */
@keyframes bouton {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}
/* Apparition des éléments depuis la gauche */
@keyframes apparition-menu {
  0% {
    transform: translateX(-100vh);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Apparition sélection de commande depuis la droite */
@keyframes apparition-check {
  0% {
    transform: translateX(2vh);
  }
  100% {
    transform: translateX(0);
  }
}
/* Remplissage du coeur */
@keyframes like {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Vidage du coeur */
@keyframes dislike {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
  }
}
/* MQ responsive desktop */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: rgba(210, 210, 210, 0.1);
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-weight: 700;
}

h2 {
  padding: 50px 20px 30px 20px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  h2 {
    padding: 50px 0 30px 0;
  }
}

/* Bouton */
button {
  padding: 15px 20px;
  background: linear-gradient(350deg, #9356DC, 60%, #FF79DA);
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: transparent;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}
button:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  animation: bouton 0.3s ease forwards;
}

header {
  background: #fff;
}

/* Logo du site */
nav {
  display: flex;
  place-content: center;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  background: #fff;
}
nav p {
  margin: 15px 0 5px 0;
}
@media screen and (min-width: 1024px) {
  nav {
    font-size: 37px;
  }
}

/* Barre de recherche de la ville */
.barre {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #d2d2d2;
  background: #EAEAEA;
  justify-content: center;
  /* Pointeur */
}
.barre input {
  background: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0;
  border: none;
  width: 60%;
  height: 50px;
  outline: none;
  text-align: center;
  z-index: 1;
}
.barre input::placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.barre__icone {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  left: 10%;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .barre__icone {
    left: 23%;
  }
}

/* Image du restaurant */
.entete img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .entete img {
    height: 425px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: #fff;
  margin-top: 50px;
  padding: 25px 0 30px 25px;
  /* Mise en colonne des liens */
  /* Logo footer */
}
footer .nav__footer {
  display: flex;
  flex-direction: column;
}
footer a {
  color: #fff;
  margin-bottom: 7px;
}
footer a:hover {
  font-weight: 700;
}
footer p {
  margin: 0 0 15px 0;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
footer i {
  margin-right: 10px;
}
@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row; /* Mise en ligne des liens */
    justify-content: flex-end;
    margin-top: 80px;
    padding: 50px;
    width: 100%;
    /* Positionnement des liens */
    /* Positionnement des liens */
  }
  footer a {
    margin-bottom: 0;
  }
  footer p {
    margin: 0 50px 0 50px;
  }
  footer .logo__footer {
    order: 2;
  }
  footer .nav__footer {
    order: 1;
    flex-direction: row; /* Mise en ligne des liens */
    align-items: center;
    gap: 40px;
  }
}

/* Footer des pages de restaurant*/
.footer__menus {
  width: 150%;
  position: relative;
  right: 33%;
}

/* Conteneur général */
.container__index h2 {
  font-size: 24px;
  font-weight: 700;
}

.titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}
.titre h1 {
  margin: 40px 50px 0 50px;
}
@media screen and (min-width: 1024px) {
  .titre h1 {
    font-size: 40px;
  }
}
.titre p {
  margin: 15px 30px 30px 30px;
}
@media screen and (min-width: 1024px) {
  .titre p {
    font-size: 18px;
  }
}
.titre__btn {
  margin: 30px 0 50px 0;
  width: 220px;
  height: 50px;
  z-index: 1;
}

/* Explication fonctionnement du site */
.fonctionnement {
  background: #fff;
  position: relative;
  z-index: -1;
  /* Mise en colonne des éléments */
  /* Elements du fonctionnement du site*/
  /* Choisir / Composer / Déguster */
  /* Chiffre entouré */
  /* Icone de l'élément */
}
.fonctionnement__flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  padding: 0 0 50px 0;
}
.fonctionnement__btn {
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  height: 70px;
  margin: 0 10% 0 10%;
}
.fonctionnement__btn#deguster {
  background: #F5EDFF;
}
.fonctionnement__txt {
  font-weight: 500;
  position: absolute;
  left: 30%;
}
.fonctionnement__number {
  display: flex;
  position: relative;
  right: 14px;
  bottom: 1px;
  /* Chiffre */
  /* Cercle */
}
.fonctionnement__number__numb {
  color: #fff;
  position: relative;
  left: 14px;
  top: 1px;
}
.fonctionnement__number__circle {
  background: #9356DC;
  border: 2px solid #9356DC;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
}
.fonctionnement__icone {
  color: #7e7e7e;
  position: absolute;
  left: 20%;
}
.fonctionnement__icone#store {
  color: #9356DC;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 0 14% 80px 14%;
    /* Mise en ligne des éléments */
  }
  .fonctionnement h2 {
    margin: 0;
  }
  .fonctionnement__flex {
    flex-direction: row;
    gap: 3%;
    padding: 0;
  }
  .fonctionnement__btn {
    width: 100%;
    margin: 0;
  }
  .fonctionnement__txt {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 20px;
    margin: auto;
    text-align: center;
  }
  .fonctionnement__icone {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 10px;
  }
}

/* Mise en ligne des restaurants */
@media screen and (min-width: 1024px) {
  .restaurants {
    padding-left: 14%;
  }
  .restaurants__flex {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
  }
}

/* Différents restaurants */
.cards {
  border-radius: 20px;
  margin: 0 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 251px;
  position: relative;
  /* Encart "Nouveau" */
  /* Image du restaurant */
  /* Nom et localisation du restaurant*/
}
.cards__new {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  width: 20%;
  height: 30px;
  background: #99E2D0;
  color: #008766;
  border-radius: 2px;
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 76%;
}
.cards__img {
  padding: 0;
  height: 70%;
}
.cards__img img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards__txt {
  display: flex;
  height: 30%;
  /* Favoris */
}
.cards__txt__name {
  width: 80%;
}
.cards__txt__name h3 {
  font-size: 18px;
  margin: 0;
  padding: 15px 0 5px 10px;
}
.cards__txt__name p {
  font-size: 17px;
  margin: 0;
  padding: 0 0 0 10px;
}
.cards__txt__like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  position: relative;
  cursor: pointer;
  /* Coeur plein couleur */
}
.cards__txt__like input {
  display: none;
  /* Mettre en favoris au clic */
  /* Retirer des favoris au clic */
}
.cards__txt__like input:checked + label .heart-full {
  animation: like 1s ease-in-out forwards;
}
.cards__txt__like input:not(:checked) + label .heart-full {
  animation: dislike 1s forwards;
}
.cards__txt__like label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}
.cards__txt__like i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}
.cards__txt__like .heart-full {
  opacity: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform-origin: bottom;
}
@media screen and (min-width: 1024px) {
  .cards {
    width: 335px;
  }
}

/* Loader */
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s hide 1;
  margin: auto;
  opacity: 0;
}
.loader::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: white;
  opacity: 0.5;
}
.loader__food {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9356DC;
  letter-spacing: 100px;
  margin-bottom: 20%;
  animation: flash 3s ease-in-out infinite;
  z-index: 2;
}
.loader__food i {
  max-width: 60px;
  padding: 10%;
}

/* Décalage flash loader */
.anim-1 {
  animation-delay: 0.3s;
}
.anim-2 {
  animation-delay: 0.6s;
}
.anim-3 {
  animation-delay: 0.9s;
}
.anim-4 {
  animation-delay: 1.2s;
}
.anim-5 {
  animation-delay: 1.5s;
}

/* Fleche de retour à la page d'acceuil */
nav {
  display: flex;
  align-items: center;
}
nav i {
  position: absolute;
  right: 90%;
  color: #353535;
}

/* Nom du restaurant */
.nom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 20px 40px 20px;
}
.nom h1 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}
.nom .cards__txt__like {
  width: 10%;
}
@media screen and (min-width: 1024px) {
  .nom {
    justify-content: center;
  }
}

/* Placement de la page par dessus l'image */
.container__menu {
  background: #F6F6F6;
  width: 100%;
  position: absolute;
  top: 275px;
  z-index: 2;
  border-radius: 50px 50px 0 0;
}
.container__menu h2 {
  padding: 0;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
@media screen and (min-width: 1024px) {
  .container__menu {
    width: 75%;
    margin: 0 12.5%;
    top: 450px;
  }
}

.entrees,
.plats,
.desserts {
  padding: 0 0 40px 15px;
  /* Elements du menu */
}
@media screen and (min-width: 1024px) {
  .entrees,
  .plats,
  .desserts {
    margin: 0 20% 40px;
    padding: 0;
    width: auto;
  }
}
.entrees .menu,
.plats .menu,
.desserts .menu {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 15px;
  margin: 15px 15px 15px 0;
  opacity: 0;
  overflow: hidden;
  animation: apparition-menu 2s ease 1 forwards;
  /* Intitulé du plat */
  /* Sélection du plat */
  /* Animation progressive des plats */
}
.entrees .menu__content,
.plats .menu__content,
.desserts .menu__content {
  width: 100%;
  display: flex;
  /* Apparition de la div selection au survol du plat */
  /* Décalage de l'intitulé et du prix au survol pour 
  laisser place au sélecteur */
}
.entrees .menu__content:hover .menu__selection,
.plats .menu__content:hover .menu__selection,
.desserts .menu__content:hover .menu__selection {
  width: 60px;
  animation: apparition-check 0.5s ease-in-out forwards;
}
.entrees .menu__content:hover .menu__gauche,
.plats .menu__content:hover .menu__gauche,
.desserts .menu__content:hover .menu__gauche {
  width: calc(100% - 60px);
}
.entrees .menu__gauche,
.plats .menu__gauche,
.desserts .menu__gauche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 12px;
  height: 100%;
  width: 100%;
}
.entrees .menu__title h3,
.plats .menu__title h3,
.desserts .menu__title h3 {
  font-size: 18px;
  margin: 0 0 5px 0;
}
.entrees .menu__sub,
.plats .menu__sub,
.desserts .menu__sub {
  font-size: 15px;
  display: inline-flex;
  justify-content: space-between;
  /* Accompagnement du plat */
  /* Prix du plat */
}
.entrees .menu__sub__title,
.plats .menu__sub__title,
.desserts .menu__sub__title {
  margin: 0;
  overflow: hidden; /* Texte qui dépasse est caché */
  text-overflow: ellipsis; /* Texte caché sous des "..." */
  white-space: nowrap; /* Pas de retour à la ligne */
  width: 80%;
  height: 20px;
}
.entrees .menu__sub__prix,
.plats .menu__sub__prix,
.desserts .menu__sub__prix {
  position: absolute;
  right: 5%;
  font-weight: 700;
  margin: 0;
}
.entrees .menu__droite,
.plats .menu__droite,
.desserts .menu__droite {
  margin: 0;
  padding: 0;
}
.entrees .menu__selection,
.plats .menu__selection,
.desserts .menu__selection {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: #99E2D0;
  border-radius: 0 15px 15px 0;
  height: 70px;
  width: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  /* Signe + au moment de la sélection */
  /* Signe check une fois le plat sélectionné */
}
.entrees .menu__selection input,
.plats .menu__selection input,
.desserts .menu__selection input {
  display: none;
  /* Sélectionner le plat avec un clic sur le plus */
  /* Retirer le plat avec un clic sur le check */
}
.entrees .menu__selection input:checked + label .menu__selection__plus,
.plats .menu__selection input:checked + label .menu__selection__plus,
.desserts .menu__selection input:checked + label .menu__selection__plus {
  display: none;
}
.entrees .menu__selection input:not(:checked) + label .menu__selection__plus,
.plats .menu__selection input:not(:checked) + label .menu__selection__plus,
.desserts .menu__selection input:not(:checked) + label .menu__selection__plus {
  display: flex;
}
.entrees .menu__selection input:checked + label .menu__selection__check,
.plats .menu__selection input:checked + label .menu__selection__check,
.desserts .menu__selection input:checked + label .menu__selection__check {
  display: flex;
}
.entrees .menu__selection input:not(:checked) + label .menu__selection__check,
.plats .menu__selection input:not(:checked) + label .menu__selection__check,
.desserts .menu__selection input:not(:checked) + label .menu__selection__check {
  display: none;
}
.entrees .menu__selection label,
.plats .menu__selection label,
.desserts .menu__selection label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}
.entrees .menu__selection__plus,
.plats .menu__selection__plus,
.desserts .menu__selection__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}
.entrees .menu__selection__check,
.plats .menu__selection__check,
.desserts .menu__selection__check {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}
.entrees .menu.anim__1,
.plats .menu.anim__1,
.desserts .menu.anim__1 {
  animation-delay: 0.2s;
}
.entrees .menu.anim__2,
.plats .menu.anim__2,
.desserts .menu.anim__2 {
  animation-delay: 0.4s;
}
.entrees .menu.anim__3,
.plats .menu.anim__3,
.desserts .menu.anim__3 {
  animation-delay: 0.6s;
}
.entrees .menu.anim__4,
.plats .menu.anim__4,
.desserts .menu.anim__4 {
  animation-delay: 0.8s;
}
.entrees .menu.anim__5,
.plats .menu.anim__5,
.desserts .menu.anim__5 {
  animation-delay: 1s;
}
.entrees .menu.anim__6,
.plats .menu.anim__6,
.desserts .menu.anim__6 {
  animation-delay: 1.2s;
}
.entrees .menu.anim__7,
.plats .menu.anim__7,
.desserts .menu.anim__7 {
  animation-delay: 1.4s;
}
.entrees .menu.anim__8,
.plats .menu.anim__8,
.desserts .menu.anim__8 {
  animation-delay: 1.6s;
}
.entrees .menu.anim__9,
.plats .menu.anim__9,
.desserts .menu.anim__9 {
  animation-delay: 1.8s;
}
.entrees .menu.anim__10,
.plats .menu.anim__10,
.desserts .menu.anim__10 {
  animation-delay: 2s;
}

/* Bouton centré */
.titre__btn {
  margin: auto;
}/*# sourceMappingURL=style.css.map */