@charset "UTF-8";
/* Couleurs */
/* Ombres */
/* Tailles de police */
/* Epaisseur de polices */
/* Polices */
/* Flash du loader */
@keyframes flash {
  0% {
    transform: scale(1);
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  50% {
    transform: scale(1.2);
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  90% {
    color: #9356DC;
    opacity: 0.8;
    text-shadow: none;
  }
  100% {
    transform: scale(1);
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
}
/* Disparition du loader sur homepage */
@keyframes hide {
  0% {
    opacity: 1;
    z-index: 100;
  }
  99% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    z-index: -100;
  }
}
/* Cacher tout ce qui dépasse du loader le temps de l'animation */
@keyframes hide-body {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
/* Bouton légèrement plus claire */
@keyframes bouton {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}
/* Apparition des éléments depuis la gauche */
@keyframes apparition-menu {
  0% {
    transform: translateX(-100vh);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Apparition sélection de commande depuis la droite */
@keyframes apparition-check {
  0% {
    transform: translateX(2vh);
  }
  100% {
    transform: translateX(0);
  }
}
/* Remplissage du coeur */
@keyframes like {
  0% {
    transform: scale(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Vidage du coeur */
@keyframes dislike {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: rgba(210, 210, 210, 0.1);
  font-weight: 300;
}
body.hide {
  animation: 3s hide-body 1 forwards;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-weight: 700;
}

h2 {
  padding: 50px 20px 30px 20px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  h2 {
    padding: 50px 0 30px 0;
  }
}

/* Bouton */
button {
  padding: 15px 20px;
  background: linear-gradient(350deg, #9356DC, 60%, #FF79DA);
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: transparent;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}
button:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  animation: bouton 0.3s ease forwards;
}

header {
  background: #fff;
}

/* Logo du site */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  background: #fff;
}
nav p {
  margin: 15px 0 5px 0;
}
nav i {
  position: absolute;
  right: 90%;
  color: #353535;
}
@media screen and (min-width: 1024px) {
  nav {
    font-size: 37px;
  }
}

/* Barre de recherche de la ville */
.barreRecherche {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #d2d2d2;
  background: #EAEAEA;
  justify-content: center;
}
.barreRecherche input {
  background: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0;
  border: none;
  width: 60%;
  height: 50px;
  outline: none;
  text-align: center;
  z-index: 1;
}
.barreRecherche input::placeholder { /* Pointeur */
  color: black;
  opacity: 1;
  font-weight: 500;
  font-family: "Roboto", sans-serif, "FontAwesome";
}

/* Image du restaurant */
.entete img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .entete img {
    height: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .entete img {
    height: 425px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: #fff;
  padding: 25px 0 30px 25px;
}
footer.footer__menu { /* Déplacement footer vers le haut sur les pages restaurant */
  transform: translateY(200px);
}
@media screen and (min-width: 768px) {
  footer.footer__menu {
    transform: translateY(275px);
  }
}
@media screen and (min-width: 1024px) {
  footer.footer__menu {
    transform: translateY(350px);
  }
}
footer .nav__footer { /* Mise en colonne des liens */
  display: flex;
  flex-direction: column;
}
footer a {
  color: #fff;
  margin-bottom: 7px;
}
footer a:hover {
  font-weight: 700;
}
footer p { /* Logo footer */
  margin: 0 0 15px 0;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
footer i {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row; /* Mise en ligne des liens */
    justify-content: flex-end;
    padding: 50px;
    width: 100%;
  }
  footer a {
    margin-bottom: 0;
    flex-grow: 1;
  }
  footer p {
    margin-left: 10px;
    margin-bottom: 0;
  }
  footer i {
    margin-right: 5px;
  }
  footer .logo__footer { /* Positionnement des liens */
    order: 2;
  }
  footer .nav__footer { /* Positionnement des liens */
    order: 1;
    flex-direction: row; /* Mise en ligne des liens */
    align-items: center;
    gap: 14px;
    flex-grow: 1;
  }
}
@media screen and (min-width: 1024px) {
  footer a {
    flex-grow: 0;
  }
  footer p {
    margin: 0 50px 0 50px;
  }
  footer .nav__footer { /* Positionnement des liens */
    gap: 40px;
    flex-grow: 0;
  }
}

/* Conteneur page d'acceuil */
.container__index h2 {
  font-size: 24px;
  font-weight: 700;
}

.titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}
.titre h1 {
  margin: 40px 50px 0 50px;
}
@media screen and (min-width: 1024px) {
  .titre h1 {
    font-size: 40px;
  }
}
.titre p {
  margin: 15px 30px 30px 30px;
}
@media screen and (min-width: 1024px) {
  .titre p {
    font-size: 18px;
  }
}
.titre .bouton {
  margin: 30px 0 50px 0;
  width: 220px;
  height: 50px;
  z-index: 1;
}

/* Explication fonctionnement du site */
.fonctionnement {
  background: #fff;
}
@media screen and (min-width: 768px) {
  .fonctionnement h2 {
    margin: 0 5%;
  }
}
.fonctionnement__flex { /* Mise en colonne des éléments */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #fff;
  padding: 0 20px 50px 20px;
}
.fonctionnement__btn { /* Elements du fonctionnement du site*/
  z-index: 2;
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  min-width: 0;
  height: 70px;
}
.fonctionnement__btn__flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.fonctionnement__btn:hover {
  cursor: pointer;
  background: #F5EDFF;
}
.fonctionnement__btn:hover > .fonctionnement__btn__flex .fonctionnement__icone { /* Coeur se rempli progressivement au passage sur la div */
  color: #9356DC;
}
@media screen and (min-width: 768px) {
  .fonctionnement__btn {
    width: 450px;
  }
}
.fonctionnement__txt { /* Choisir / Composer / Déguster */
  font-weight: 500;
}
.fonctionnement__number { /* Chiffre entouré */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  min-height: 25px;
  background: #9356DC;
  color: white;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.fonctionnement__icone { /* Icone de l'élément */
  color: #7e7e7e;
  padding-right: 10px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 0 14% 80px 14%;
  }
  .fonctionnement h2 {
    margin: 0;
    padding-left: 5px;
  }
  .fonctionnement__flex { /* Mise en ligne des éléments */
    flex-direction: row;
    gap: 3%;
    padding: 0;
    padding-left: 18px;
  }
  .fonctionnement__btn {
    width: 100%;
    margin: 0;
  }
}

/* Mise en ligne des restaurants */
.restaurants {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .restaurants {
    margin: 0 5%;
    padding-bottom: 40px;
  }
  .restaurants__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants a {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding-left: 14%;
    margin: 0 0 80px 0;
  }
  .restaurants h2 {
    padding-left: 5px;
  }
  .restaurants__flex {
    flex-wrap: nowrap;
    scrollbar-width: thin;
    overflow-x: auto; /* Scrollbar horizontale sous les cards */
    padding: 0 0 20px 5px;
  }
}

/* Différents restaurants */
.cards {
  border-radius: 20px;
  margin: 0 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 251px;
  position: relative;
}
.cards__new { /* Encart "Nouveau" */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  width: 20%;
  height: 30px;
  background: #99E2D0;
  color: #008766;
  border-radius: 2px;
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 76%;
}
.cards__img { /* Image du restaurant */
  padding: 0;
  height: 70%;
}
.cards__img img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards__txt { /* Nom et localisation du restaurant*/
  display: flex;
  height: 30%;
}
.cards__txt__name {
  width: 80%;
}
.cards__txt__name h3 {
  font-size: 18px;
  margin: 0;
  padding: 15px 0 5px 10px;
}
.cards__txt__name p {
  font-size: 17px;
  margin: 0;
  padding: 0 0 0 10px;
}
.cards__txt__like { /* Favoris */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  cursor: pointer;
}
.cards__txt__like:hover > .heart-full {
  animation: like 0.5s ease forwards;
}
.cards__txt__like i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}
.cards__txt__like .heart-full { /* Coeur plein couleur */
  opacity: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform-origin: bottom;
}
@media screen and (min-width: 768px) {
  .cards {
    min-width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .cards {
    width: 335px;
    margin: 0 40px 20px 0;
  }
}

/* Loader */
.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  animation: 3s hide 1 forwards;
  opacity: 0;
}
.loader::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: white;
  opacity: 0.6;
}
.loader__food {
  color: #9356DC;
  letter-spacing: 50px;
  animation: flash 1.5s ease-in-out infinite;
  z-index: 2;
  position: relative;
  top: 350px;
}
.loader__food i {
  max-width: 60px;
  padding: 10%;
}
@media screen and (min-width: 768px) {
  .loader__food {
    bottom: 15%;
  }
}
@media screen and (min-width: 1024px) {
  .loader__food {
    bottom: 10%;
  }
}

/* Décalage flash loader */
.anim-1 {
  animation-delay: 0.2s;
}
.anim-2 {
  animation-delay: 0.4s;
}
.anim-3 {
  animation-delay: 0.6s;
}
.anim-4 {
  animation-delay: 0.8s;
}
.anim-5 {
  animation-delay: 1s;
}

/* Nom du restaurant */
.nom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 20px 40px 20px;
}
.nom h1 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}
.nom .cards__txt__like {
  width: 10%;
}
@media screen and (min-width: 768px) {
  .nom {
    justify-content: center;
  }
}

/* Favoris/Like */
.cards__txt__like input {
  display: none;
}
.cards__txt__like input:checked + label .heart-full { /* Mettre en favoris au clic */
  animation: like 1s ease-in-out forwards;
}
.cards__txt__like input:not(:checked) + label .heart-full { /* Retirer des favoris au clic */
  animation: dislike 1s forwards;
}
.cards__txt__like label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}

.main__menu {
  background: #F6F6F6;
  width: 100%;
  border-radius: 50px 50px 0 0;
  padding: 30px 0 40px 0;
  z-index: 2;
  transform: translateY(200px); /* Déplacement vers le haut du menu */
}
.main__menu h2 {
  padding: 0;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
@media screen and (min-width: 768px) {
  .main__menu {
    width: 75%;
    margin: 0 12.5%;
    transform: translateY(275px); /* Déplacement vers le haut du menu */
  }
}
@media screen and (min-width: 1024px) {
  .main__menu {
    width: 75%;
    margin: 0 12.5%;
    transform: translateY(350px); /* Déplacement vers le haut du menu */
  }
}

.entrees,
.plats,
.desserts {
  padding: 0 0 40px 15px;
}
.entrees .menu,
.plats .menu,
.desserts .menu { /* Elements du menu */
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 15px;
  margin: 15px 15px 15px 0;
  opacity: 0;
  overflow: hidden;
  animation: apparition-menu 2s ease 1 forwards;
}
.entrees .menu__content,
.plats .menu__content,
.desserts .menu__content {
  width: 100%;
  display: flex;
}
.entrees .menu__content:hover .menu__selection,
.plats .menu__content:hover .menu__selection,
.desserts .menu__content:hover .menu__selection { /* Apparition de la div selection au survol du plat */
  width: 60px;
  animation: apparition-check 0.5s ease-in-out forwards;
}
.entrees .menu__gauche,
.plats .menu__gauche,
.desserts .menu__gauche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 12px;
  height: 100%;
  width: 100%;
}
.entrees .menu__title h3,
.plats .menu__title h3,
.desserts .menu__title h3 { /* Intitulé du plat */
  font-size: 18px;
  margin: 0 0 5px 0;
}
.entrees .menu__sub,
.plats .menu__sub,
.desserts .menu__sub {
  font-size: 15px;
  display: inline-flex;
  justify-content: space-between;
}
.entrees .menu__sub__title,
.plats .menu__sub__title,
.desserts .menu__sub__title { /* Accompagnement du plat */
  margin: 0;
  overflow: hidden; /* Texte qui dépasse est caché */
  text-overflow: ellipsis; /* Texte caché sous des "..." */
  white-space: nowrap; /* Pas de retour à la ligne */
  width: 80%;
  height: 20px;
}
.entrees .menu__sub__prix,
.plats .menu__sub__prix,
.desserts .menu__sub__prix { /* Prix du plat */
  position: absolute;
  right: 5%;
  font-weight: 700;
  margin: 0;
}
.entrees .menu__droite,
.plats .menu__droite,
.desserts .menu__droite {
  margin: 0;
  padding: 0;
}
.entrees .menu__selection,
.plats .menu__selection,
.desserts .menu__selection { /* Sélection du plat */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: #99E2D0;
  border-radius: 0 15px 15px 0;
  height: 70px;
  width: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.entrees .menu__selection input,
.plats .menu__selection input,
.desserts .menu__selection input {
  display: none;
}
.entrees .menu__selection input:checked + label .menu__selection__plus,
.plats .menu__selection input:checked + label .menu__selection__plus,
.desserts .menu__selection input:checked + label .menu__selection__plus { /* Sélectionner le plat avec un clic sur le plus */
  display: none;
}
.entrees .menu__selection input:not(:checked) + label .menu__selection__plus,
.plats .menu__selection input:not(:checked) + label .menu__selection__plus,
.desserts .menu__selection input:not(:checked) + label .menu__selection__plus {
  display: flex;
}
.entrees .menu__selection input:checked + label .menu__selection__check,
.plats .menu__selection input:checked + label .menu__selection__check,
.desserts .menu__selection input:checked + label .menu__selection__check { /* Retirer le plat avec un clic sur le check */
  display: flex;
}
.entrees .menu__selection input:not(:checked) + label .menu__selection__check,
.plats .menu__selection input:not(:checked) + label .menu__selection__check,
.desserts .menu__selection input:not(:checked) + label .menu__selection__check {
  display: none;
}
.entrees .menu__selection label,
.plats .menu__selection label,
.desserts .menu__selection label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}
.entrees .menu__selection__plus,
.plats .menu__selection__plus,
.desserts .menu__selection__plus { /* Signe + au moment de la sélection */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}
.entrees .menu__selection__check,
.plats .menu__selection__check,
.desserts .menu__selection__check { /* Signe check une fois le plat sélectionné */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}
.entrees .menu.anim__1,
.plats .menu.anim__1,
.desserts .menu.anim__1 { /* Animation progressive des plats */
  animation-delay: 0.2s;
}
.entrees .menu.anim__2,
.plats .menu.anim__2,
.desserts .menu.anim__2 {
  animation-delay: 0.4s;
}
.entrees .menu.anim__3,
.plats .menu.anim__3,
.desserts .menu.anim__3 {
  animation-delay: 0.6s;
}
.entrees .menu.anim__4,
.plats .menu.anim__4,
.desserts .menu.anim__4 {
  animation-delay: 0.8s;
}
.entrees .menu.anim__5,
.plats .menu.anim__5,
.desserts .menu.anim__5 {
  animation-delay: 1s;
}
.entrees .menu.anim__6,
.plats .menu.anim__6,
.desserts .menu.anim__6 {
  animation-delay: 1.2s;
}
.entrees .menu.anim__7,
.plats .menu.anim__7,
.desserts .menu.anim__7 {
  animation-delay: 1.4s;
}
.entrees .menu.anim__8,
.plats .menu.anim__8,
.desserts .menu.anim__8 {
  animation-delay: 1.6s;
}
.entrees .menu.anim__9,
.plats .menu.anim__9,
.desserts .menu.anim__9 {
  animation-delay: 1.8s;
}
.entrees .menu.anim__10,
.plats .menu.anim__10,
.desserts .menu.anim__10 {
  animation-delay: 2s;
}
@media screen and (min-width: 768px) {
  .entrees,
  .plats,
  .desserts {
    margin: 0 10% 40px;
    padding: 0;
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  .entrees,
  .plats,
  .desserts {
    margin: 0 20% 40px;
  }
}

/* Bouton centré */
.bouton {
  margin: auto;
  width: 220px;
  height: 50px;
}/*# sourceMappingURL=style.css.map */