.titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    & h1 {
        margin: 40px 50px 0 50px;
        @include desktop-only {
            font-size: $size-title-desktop;
        }
    }
    & p {
        margin: 15px 30px 30px 30px;
        @include desktop-only {
            font-size: $size-logo;
        }
    }
}

.barre {
    display: flex;
    flex-direction: row;
    border-top: 2px solid $color-border;
    background: $color-search ;
    justify-content: center;
    & input {
        background: $color-search ;
        padding: 0;
        border: none;
        width: 60%;
        height: 50px;
        outline: none;
        text-align: center;
        &::placeholder {
            color: black;
            opacity: 1;  
            font-family: $font-txt;
            font-weight: $w-txt;
        }
    }
    &__icone{
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        left: 10%;
    }
}

.fonctionnement {
    background: $white;
    position: relative;
    &__flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: $white;
        padding: 0 0 50px 0;
    }
    &__btn {
        background: $color-fct;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 25px;
        height: 70px;
        margin: 0 10% 0 10%;
        &#deguster {
            background: #F5EDFF;
        }
    }
    &__txt {
        font-weight: $w-txt;
        position: absolute;
        left: 30%;
    }
    &__number {
        display: flex;
        position: relative;
        right: 14px;
        bottom: 1px;
        &__numb {
            color: $white;
            position: relative;
            left: 14px;
            top: 1px;
        }
        &__circle {
            background: $color-primary;
            border: 2px solid $color-primary;
            min-width: 20px;
            min-height: 20px;
            border-radius: 50%;
    
        }
    }
    &__icone {
        color: $color-icone;
        position: absolute;
        left: 20%;
        &#store {
            color: $color-primary;
        }
    }
    @include desktop-only{
        padding: 0 14% 80px 14%;
        & h2 {
            margin: 0;
        }
        &__flex {
            flex-direction: row;
            gap: 3%;
            padding: 0;
        }
        &__btn {
            width: 100%;
            margin: 0;
        }
        &__txt {
            position: relative;
            top: 0;
            left: 0;
            padding: 0 20px;
            margin: auto;
            text-align: center;
        }
        &__icone{
            position: relative;
            top: 0;
            left: 0;
            padding-left: 10px;
        }
    }
}

.restaurants {
    @include desktop-only {
        padding: 0 14%;
        &__flex {
            display: flex;
            flex-direction: row;
            overflow: auto;
        }
    }

}

.cards {
    border-radius: 20px;
    margin: 0 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 251px;
    position: relative;
    &__new {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: $w-txt;
        font-size: $size-new;
        width: 20%;
        height: 30px;
        background: $color-tertiary;
        color: $color-new;
        border-radius: 2px;
        z-index: 1;
        position: absolute;
        top: 5%;
        left: 76%;
    }
    &__img {
        padding: 0;
        height: 70%;
        & img {
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__txt {
        display: flex;
        height: 30%;
        &__name {
            width: 80%;
            & h3 {
                font-size: $size-logo;
                margin: 0;
                padding: 15px 0 5px 10px;
            }
            & p {
                font-size: $size-p-home;
                margin: 0;
                padding: 0 0 0 10px;
            }
        }
        &__like {
            display: flex;
            place-content: center;
            width: 30%;
            & input {
                display: none;
                &:checked + label .fa-heart {
                    color: $color-primary;
                    animation: like 0.5s 1;
                }
                &:not(:checked) + label .fa-heart {
                    animation: dislike 0.5s 1;
                }
            }
            & label {
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                cursor: pointer;
                & .fa-heart {
                    color: black;
                }
            }
        }
    }
    @include desktop-only {
        width: 335px;
    }
}