/* Conteneur général */
.container__index {
    & h2 {
        font-size: $size-subtitle;
        font-weight: $w-title;
    }
}

.titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    & h1 {
        margin: 40px 50px 0 50px;
        @include desktop-only {
            font-size: $size-title-desktop;
        }
    }
    & p {
        margin: 15px 30px 30px 30px;
        @include desktop-only {
            font-size: $size-logo;
        }
    }
    &__btn {
        margin: 30px 0 50px 0;
        width: 220px;
        height: 50px;
        z-index: 1;
    }
}

/* Explication fonctionnement du site */
.fonctionnement {
    background: $white;
    position: relative;
    z-index: -1;
    /* Mise en colonne des éléments */
    &__flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: $white;
        padding: 0 0 50px 0;
    }
    /* Elements du fonctionnement du site*/
    &__btn {
        background: $color-fct;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 25px;
        box-shadow: $shadow-cards;
        height: 70px;
        margin: 0 10% 0 10%;
        &#deguster {
            background: #F5EDFF;
        }
    }
    /* Choisir / Composer / Déguster */
    &__txt {
        font-weight: $w-txt;
        position: absolute;
        left: 30%;
    }
    /* Chiffre entouré */
    &__number {
        display: flex;
        position: relative;
        right: 14px;
        bottom: 1px;
        /* Chiffre */
        &__numb {
            color: $white;
            position: relative;
            left: 14px;
            top: 1px;
        }
        /* Cercle */
        &__circle {
            background: $color-primary;
            border: 2px solid $color-primary;
            min-width: 20px;
            min-height: 20px;
            border-radius: 50%;
        }
    }
    /* Icone de l'élément */
    &__icone {
        color: $color-icone;
        position: absolute;
        left: 20%;
        &#store {
            color: $color-primary;
        }
    }
    @include desktop-only{
        padding: 0 14% 80px 14%;
        & h2 {
            margin: 0;
        }
        /* Mise en ligne des éléments */
        &__flex {
            flex-direction: row;
            gap: 3%;
            padding: 0;
        }
        &__btn {
            width: 100%;
            margin: 0;
        }
        &__txt {
            position: relative;
            top: 0;
            left: 0;
            padding: 0 20px;
            margin: auto;
            text-align: center;
        }
        &__icone{
            position: relative;
            top: 0;
            left: 0;
            padding-left: 10px;
        }
    }
}

/* Mise en ligne des restaurants */
.restaurants {
    @include desktop-only {
        padding-left: 14%;
        &__flex {
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            scrollbar-width: none;
        }
    }
}

/* Différents restaurants */
.cards {
    border-radius: 20px;
    margin: 0 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 251px;
    position: relative;
    /* Encart "Nouveau" */
    &__new {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: $w-txt;
        font-size: $size-new;
        width: 20%;
        height: 30px;
        background: $color-tertiary;
        color: $color-new;
        border-radius: 2px;
        z-index: 1;
        position: absolute;
        top: 5%;
        left: 76%;
    }
    /* Image du restaurant */
    &__img {
        padding: 0;
        height: 70%;
        & img {
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    /* Nom et localisation du restaurant*/
    &__txt {
        display: flex;
        height: 30%;
        &__name {
            width: 80%;
            & h3 {
                font-size: $size-logo;
                margin: 0;
                padding: 15px 0 5px 10px;
            }
            & p {
                font-size: $size-p-home;
                margin: 0;
                padding: 0 0 0 10px;
            }
        }
        /* Favoris */
        &__like {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20%;
            position: relative;
            cursor: pointer;
            & input {
                display: none;
                /* Mettre en favoris au clic */
                &:checked + label .heart-full {
                    animation: like 1s ease-in-out forwards;
                }
                /* Retirer des favoris au clic */
                &:not(:checked) + label .heart-full {
                    animation: dislike 1s forwards;
                }
            }
            & label {
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                cursor: pointer;
            }
            & i {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 24px;
            }
            /* Coeur plein couleur */
            & .heart-full {
                opacity: 0;
                position: absolute;
                width: 24px;
                height: 24px;
                color: transparent;
                background-image: linear-gradient($color-primary, $color-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                transform-origin: bottom;
            }
        }
    }
        @include desktop-only {
            width: 335px;
        }
}

/* Loader */
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s hide 1;
    margin: auto;
    opacity: 0;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: white;
        opacity: 0.5;
    }
    &__food {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-primary;
        letter-spacing: 50px;
        animation: flash 3s ease-in-out infinite;
        z-index: 2;
        & i {
            max-width: 60px;
            padding: 10%;
        }
    }
}

/* Décalage flash loader */
.anim {
    &-1 {
        animation-delay: 0.3s;
    }
    &-2 {
        animation-delay: 0.6s;
    }
    &-3 {
        animation-delay: 0.9s;
    }
    &-4 {
        animation-delay: 1.2s;
    }
    &-5 {
        animation-delay: 1.5s;
    }
}