.container__index {
    & h2 {
        font-size: $size-subtitle;
        font-weight: $w-title;
    }
}

.titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    & h1 {
        margin: 40px 50px 0 50px;
        @include desktop-only {
            font-size: $size-title-desktop;
        }
    }
    & p {
        margin: 15px 30px 30px 30px;
        @include desktop-only {
            font-size: $size-logo;
        }
    }
    &__btn {
        margin: 30px 0 50px 0;
        width: 220px;
        height: 50px;
        z-index: 1;
    }
}


.barre {
    display: flex;
    flex-direction: row;
    border-top: 2px solid $color-border;
    background: $color-search ;
    justify-content: center;
    & input {
        background: $color-search ;
        padding: 0;
        border: none;
        width: 60%;
        height: 50px;
        outline: none;
        text-align: center;
        &::placeholder {
            color: black;
            opacity: 1;  
            font-family: $font-txt;
            font-weight: $w-txt;
        }
    }
    &__icone{
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        left: 10%;
        @include desktop-only {
            left: 23%;
        }
    }
}

.fonctionnement {
    background: $white;
    position: relative;
    z-index: -1;
    &__flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: $white;
        padding: 0 0 50px 0;
    }
    &__btn {
        background: $color-fct;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 25px;
        height: 70px;
        margin: 0 10% 0 10%;
        &#deguster {
            background: #F5EDFF;
        }
    }
    &__txt {
        font-weight: $w-txt;
        position: absolute;
        left: 30%;
    }
    &__number {
        display: flex;
        position: relative;
        right: 14px;
        bottom: 1px;
        &__numb {
            color: $white;
            position: relative;
            left: 14px;
            top: 1px;
        }
        &__circle {
            background: $color-primary;
            border: 2px solid $color-primary;
            min-width: 20px;
            min-height: 20px;
            border-radius: 50%;
        }
    }
    &__icone {
        color: $color-icone;
        position: absolute;
        left: 20%;
        &#store {
            color: $color-primary;
        }
    }
    @include desktop-only{
        padding: 0 14% 80px 14%;
        & h2 {
            margin: 0;
        }
        &__flex {
            flex-direction: row;
            gap: 3%;
            padding: 0;
        }
        &__btn {
            width: 100%;
            margin: 0;
        }
        &__txt {
            position: relative;
            top: 0;
            left: 0;
            padding: 0 20px;
            margin: auto;
            text-align: center;
        }
        &__icone{
            position: relative;
            top: 0;
            left: 0;
            padding-left: 10px;
        }
    }
}

.restaurants {
    @include desktop-only {
        padding-left: 14%;
        &__flex {
            display: flex;
            flex-direction: row;
            overflow: auto;
        }
    }
}

.cards {
    border-radius: 20px;
    margin: 0 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 251px;
    position: relative;
    &__new {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: $w-txt;
        font-size: $size-new;
        width: 20%;
        height: 30px;
        background: $color-tertiary;
        color: $color-new;
        border-radius: 2px;
        z-index: 1;
        position: absolute;
        top: 5%;
        left: 76%;
    }
    &__img {
        padding: 0;
        height: 70%;
        & img {
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__txt {
        display: flex;
        height: 30%;
        &__name {
            width: 80%;
            & h3 {
                font-size: $size-logo;
                margin: 0;
                padding: 15px 0 5px 10px;
            }
            & p {
                font-size: $size-p-home;
                margin: 0;
                padding: 0 0 0 10px;
            }
        }
        &__like {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20%;
            position: relative;
            cursor: pointer;
            & input {
                display: none;
                &:checked + label .heart-full {
                    animation: like 1s ease-in-out forwards;
                }
                &:not(:checked) + label .heart-full {
                    animation: dislike 1s forwards;
                }
            }
            & label {
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                cursor: pointer;
            }
            & i {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 24px;
            }
            & .heart-full {
                opacity: 0;
                position: absolute;
                width: 24px;
                height: 24px;
                color: transparent;
                background-image: linear-gradient($color-primary, $color-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                transform-origin: bottom;
            }
        }
    }
        @include desktop-only {
            width: 335px;
        }
}

@keyframes like {
    0% {
        transform: scale(0);
      }
    100% {
        transform: scale(1);
        opacity: 1;
      }
    
}

@keyframes dislike {
    0% {
        transform: scale(1);
        opacity: 1;
      }
    100% {
        transform: scale(0);
      }
    
}

.block {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    opacity: 0;
    animation: 3s hide 1;
    &__loader {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            background: #0b0b0b;
            opacity: 0.5;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 70%;
            z-index: 2;
            border: 5px solid $color-fct;
            border-top: 5px solid $color-primary;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            animation: loading 1s linear infinite;
        }
    }
}
@keyframes loading {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes hide {
    0%,80% {
        opacity: 1;
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: 3;
    }
}