nav {
    display: flex;
    align-items: center;
    & i {
        position: absolute;
        right: 90%;
        color: $color-footer;
    }
}

.nom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 20px 40px 20px;
    & h1 {
        margin: 0;
        font-family: $font-title;
        font-weight: $w-logo;
        font-size: $size-nom;
    }
    & .cards__txt__like {
        width: 10%;
    }
    @include desktop-only {
        justify-content: center;
    }
}

main {
    & h2 {
        padding: 0;
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
    }

}

.container__menu {
    background: $color-fct;
    width: 100%;
    position: absolute;
    top: 275px;
    z-index: 2;
    border-radius: 50px 50px 0 0;
    @include desktop-only {
        width: 75%;
        margin: 0 12.5%;
    }
}

.entrees,
.plats,
.desserts {
    padding: 0 0 40px 15px;
    @include desktop-only {
        margin: 0 24%;
        padding: 0;
        width: auto;
    }
    & .fonctionnement__btn {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        background: $white;
        margin: 15px 15px 15px 0;
        padding: 12px;
        height: auto;
        &__name {
            display: flex;
            flex-direction: column;
            width: 85%;
            & h3 {
                font-size: $size-logo;
                margin: 0 0 5px 0;
            }
        }
        & p {
            font-size: $size-p-menu;
            margin: 0;
        }
        &__prix {
            font-weight: $w-title;
            display: flex;
            justify-content: center;
            align-items: end;
            width: 10%;
            height: 100%;
            min-height: 45px;
        }
    }
}

.titre__btn {
    margin: auto;
    @include desktop-only {
        margin-top: 40px;
    }
}