.entrees,
.plats,
.desserts {
    padding: 0 0 15px 15px;
    & .fonctionnement__btn {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        background: $white;
        margin: 15px;
        & h3 {
            margin: 0;
        }
        & p {
            margin: 0;
        }
    }
}