$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-new: #008766;
$color-footer: #353535;
$color-search: #EAEAEA;
$color-bg: rgb(210, 210, 210, 0.1);
$color-border: #d2d2d2;
$color-fct: #F6F6F6;
$color-icone: #7e7e7e;
$white: #fff;

$shadow-cards: 0px 4px 15px rgba(0, 0, 0, 0.1);
$shadow-btn: 0px 4px 10px rgba(0, 0, 0, 0.25);

$size-new: 14px;
$size-p-menu: 15px;
$size-txt: 16px;
$size-p-home: 17px;
$size-logo: 18px;
$size-nom : 28px;
$size-nom-desktop : 37px;
$size-subtitle: 24px;
$size-title: 30px;
$size-title-desktop : 40px;

$w-p: 300;
$w-logo: 400;
$w-txt: 500;
$w-title: 700;

$font-txt: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;