$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;
$color-bg: #F7F7F7;
$box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

$size-title: 30px;
$size-txt: 16px;

$font-txt: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;