/* Nom du restaurant */
.nom {      
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px 40px 20px;
    & h1 {
        margin: 0;
        font-family: $font-title;
        font-weight: $w-logo;
        font-size: $size-nom;
    }
    & .cards__txt__like {
        width: 10%;
    }@include tablette-only {
        justify-content: center;
    }
}

/* Favoris/Like */
.cards__txt__like {         
    & input {
        display: none;
        &:checked + label .heart-full {              /* Mettre en favoris au clic */
            animation: like 1s ease-in-out forwards;
        }
        &:not(:checked) + label .heart-full {        /* Retirer des favoris au clic */
            animation: dislike 1s forwards;
        }
    }
    & label {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        cursor: pointer;
    }
}

.main__menu {
    background: $color-fct;
    width: 100%;
    border-radius: 50px 50px 0 0;
    padding: 30px 0 40px 0;
    z-index: 2;
    transform: translateY(200px); /* Déplacement vers le haut du menu */
    & h2 {
        padding: 0;
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
    }
    @include tablette-only {
        width: 75%;
        margin: 0 12.5%;
        transform: translateY(275px); /* Déplacement vers le haut du menu */
    }
    @include desktop-only {
        width: 75%;
        margin: 0 12.5%;
        transform: translateY(350px); /* Déplacement vers le haut du menu */
    }

}

.entrees,
.plats,
.desserts {
    padding: 0 0 40px 15px;
    & .menu {           /* Elements du menu */
        display: flex;
        justify-content: space-between;
        box-shadow: $shadow-cards;
        background: $white;
        border-radius: 15px;
        margin: 15px 15px 15px 0; 
        opacity: 0;
        overflow: hidden;
        animation: apparition-menu 2s ease 1 forwards;
        &__content {
            width: 100%;
            display: flex;
            &:hover .menu__selection {            /* Apparition de la div selection au survol du plat */
                width: 60px;
                animation: apparition-check 0.5s ease-in-out forwards;
            }
        }
        &__gauche {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding-left: 12px;
            height: 100%;
            width: 100%;
        }
        &__title {        
            & h3 {         /* Intitulé du plat */
                font-size: $size-logo;
                margin: 0 0 5px 0;
            }
        }
        &__sub {
            font-size: $size-p-menu;
            display: inline-flex;
            justify-content: space-between;
            &__title {            /* Accompagnement du plat */
                margin: 0;
                overflow: hidden; /* Texte qui dépasse est caché */
                text-overflow: ellipsis; /* Texte caché sous des "..." */
                white-space: nowrap; /* Pas de retour à la ligne */
                width: 80%;
                height: 20px;
            }
            &__prix {            /* Prix du plat */
                position: absolute;
                right: 5%;
                font-weight: $w-title;
                margin: 0 ;
            }
        }
        &__droite {
            margin: 0;
            padding: 0;
        }
        &__selection {        /* Sélection du plat */
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-tertiary;
            color: $color-tertiary;
            border-radius: 0 15px 15px 0;
            height: 70px;
            width: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            & input {
                display: none;
                &:checked + label .menu__selection__plus {         /* Sélectionner le plat avec un clic sur le plus */ 
                    display: none;
                }
                &:not(:checked) + label .menu__selection__plus {
                    display: flex;
                }
                &:checked + label .menu__selection__check {         /* Retirer le plat avec un clic sur le check */
                    display: flex;
                }
                &:not(:checked) + label .menu__selection__check {
                    display: none;
                }
            }
            & label {
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                cursor: pointer;
            }
            &__plus {            /* Signe + au moment de la sélection */
                display: flex;
                align-items: center;
                justify-content: center;
                background: $white;
                border-radius: 20px;
                width: 25px;
                height: 25px;
            }
            &__check {            /* Signe check une fois le plat sélectionné */
                display: flex;
                align-items: center;
                justify-content: center;
                background: $white;
                border-radius: 20px;
                width: 25px;
                height: 25px;
            }
        }
        &.anim {     
            &__1 {      /* Animation progressive des plats */
                animation-delay: 0.2s;
            }
            &__2 {
                animation-delay: 0.4s;
            }
            &__3 {
                animation-delay: 0.6s;
            }
            &__4 {
                animation-delay: 0.8s;
            }
            &__5 {
                animation-delay: 1s;
            }
            &__6 {
                animation-delay: 1.2s;
            }
            &__7 {
                animation-delay: 1.4s;
            }
            &__8 {
                animation-delay: 1.6s;
            }
            &__9 {
                animation-delay: 1.8s;
            }
            &__10 {
                animation-delay: 2s;
            }
        }
    }
    @include tablette-only {
        margin: 0 10% 40px;
        padding: 0;
        width: auto;
    }
    @include desktop-only {
        margin: 0 20% 40px;
    }
}

/* Bouton centré */
.bouton {       
    margin: auto;
    width: 220px;
    height: 50px;
}